{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "amd": true,
        "es6": true
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        // overrides
        "react-native/no-unused-styles": 0,
        "react-native/split-platform-components": 1,
        "react-native/no-inline-styles": 0,
        "react-native/no-color-literals": 1,
        "no-unused-vars": 1,
        "react/prop-types": 1,
        "react/display-name":0,
        "no-console":"warn"
    }
}